* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-weight: 500;
}

th, td {
    border: 2px solid #000;
    padding: 4px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#preview {
    overflow-x: auto;
    padding: 1em;
}

#preview table {
    width: 100%;
    white-space: normal; /* Evitar el salto de línea de las celdas */
}

@media only screen and (max-width: 600px) {
    #preview table {
        width: auto;
        white-space: nowrap; /* Permitir el salto de línea de las celdas */
    }
}

#searchContainer {
    margin-top: 1rem;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    margin-left: 1rem;
}

#searchInput::placeholder {
    color: #000;
}

#searchInput:focus {
    border-color: dodgerblue;
}

#downloadButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#downloadButton:hover {
    background-color: royalblue;
}

/* Estilos para el indicador de carga */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content {
    display: none; /* Oculta el contenido hasta que se cargue */
}

#autocompleteList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#autocompleteList li {
    padding: 8px;
    cursor: pointer;
}

#autocompleteList li:hover {
    background-color: lightgray;
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 10s infinite linear;
    background-size: 200% 100%;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}