/* Estilos generales de la tabla y celdas */
table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    border: 2px solid #000;
    padding: 4px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para la primera fila */
tr:first-child {
    background-color: #7030A0;
    color: white;
}

/* Estilo para el contenedor del buscador */
#searchContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilo para el input de búsqueda */
#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

/* Estilo para el texto del placeholder del input de búsqueda */
#searchInput::placeholder {
    color: #000; /* Color gris claro */
}

/* Estilo para el texto del input de búsqueda */
#searchInput:focus {
    border-color: dodgerblue; /* Color del borde cuando el input está enfocado */
}

/* Estilo para la tabla */
#preview {
    overflow-x: auto; /* Habilitar el scroll horizontal si es necesario */
}

/* Estilo para los elementos internos de la tabla */
#preview table {
    width: 100%; /* Ancho máximo de la tabla */
    white-space: nowrap; /* Evitar el salto de línea de las celdas */
}