table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-weight: 500;
}

th, td {
    border: 2px solid #000;
    padding: 4px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#searchContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

#searchInput::placeholder {
    color: #000;
}

#searchInput:focus {
    border-color: dodgerblue;
}

#preview {
    overflow-x: auto;
}

#preview table {
    width: 100%;
    white-space: nowrap; /* Evitar el salto de línea de las celdas */
}